html{
    background-image: url(https://media.elestimulo.com/2020/03/PORTADA-CLIMAX-3-1100x572.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    /*  se cambia modelo de letra */
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: greenyellow;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 60px;
    margin-left: 50px;
    margin-right: 15px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    font-weight: 700; /*Negrita */
    padding-right: 30px;
}

nav a:hover{
    color: rgb(255, 255, 255);
}

@media (max-width:500px){
    header{
        flex-direction: column;
    }
    a{
        color: blue;
    }
    h2{
        color: brown;
    }
}

.logo {
    color: rgb(107, 166, 233);
    text-align: center;
    overflow: hidden;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
    text-align: center;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-shadow: -3px 3px rgb(12, 12, 12);
}

ul {
    list-style: none;
}

.lista>li {
    float: left;
    list-style: none;
}

.lista li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    font-size: 20px;
    background-color: greenyellow;
}

.lista:hover {
    background-color: greenyellow;
}

.lista li ul {
    display: none;
    position: absolute;
    min-width: 50px;
    list-style: none;
}

.lista li:hover>ul {
    display: block;
}

.lista li ul li {
    position: relative;
    list-style: none;
}

.fotos h1 {
    text-align: center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine;
}


.imagen{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imagen2{
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    text-decoration: dashed;
    font-family: Arial, Helvetica, sans-serif;
}

.imagen2 img{
    width: 400px;
    height: 400px;
}

.imagen2 img:hover{
    opacity: .8s;
    transition: .1s;
}

.pie-pagina{
    width: 100%;
    background-color:cyan

}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}
.pie-pagina .grupo-1 .box figure{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pie-pagina .grupo-1 .box figure img{
    margin-top: 30px;
    width: 260px;
    height: 100px;
    
}
.pie-pagina .grupo-1 .box h2{
    color:black;
    margin-bottom: 25px;
    font-size: 20px;

}
.pie-pagina .grupo-1 .box p{
    color:rgb(red, green, blue);
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    margin-right: 10px;
    background-color:aquamarine;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: black;
}

.pie-pagina .grupo-2{
    background-color:aquamarine;
    padding: 15px 10px;
    text-align: center;
    color: black;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

.titulo{
    text-align: center;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:underline;
}

.nombre{
    text-align: center;
    font-size: 28px;
}